@font-face {
  font-family: "Norse";
  src: url("../fonts/norse.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

a {
  text-decoration-line: underline;
}

h1 a {
  text-decoration-line: none;
}

@import "tailwindcss";

@theme {
  --font-logo: "Norse", "sans-serif";
}
